* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
}
.container .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .content .text {
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  background-color: black;
  color: white;
}

.container .content .btn {
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  color: black;
  box-shadow: none;
  border: 1px solid black;
  cursor: pointer;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
